__pycache__/
*.py[cod]
**/__pycache__/
**/**/__pycache__/
**/**/**/__pycache__/
**/**/**/**/__pycache__/
**/**/**/**/**/__pycache__/
**/**/**/**/**/**/__pycache__/
**/**/**/**/**/**/**/__pycache__/
**/**/**/**/**/**/**/**/__pycache__/

__pycache__
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**/**/**/**/__pycache__
**/**/**/**/**/__pycache__
**/**/**/**/**/**/__pycache__
**/**/**/**/**/**/**/__pycache__
**/**/**/**/**/**/**/**/__pycache__

morphokin.egg-info
morphokin.egg-info/

.idea
.idea/